/node_modules
node_modules/
/coverage
dist/
*.class
/dist
/.cache
*.py[cod]
.idea
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
.DS_Store
.env.local
.env.development.local
Thumbs.db
.env.test.local
.env.production.local
*.app
npm-debug.log*
*.exe
yarn-debug.log*
*.war
yarn-error.log*
yarn.lock
*.mp4
.parcel-cache/
